<% flash.each do |msg_type, msg| %>
  <div class="alert alert-<%= msg_type %>">
    <a href="#" data-dismiss="alert" class="close">x</a>
    <ul>
      <li>
        <%= msg %>
      </li>
    </ul>
  </div>
<% end %>
