<div class="container-fluid foot-sign-up">
  <div class="overlay"></div>
  <div class="content container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h4><%= t ".signup_now" %></h4>
        <%= link_to t("share.top_navigation.signup"), new_user_registration_path,
          class: "btn btn-default btn-yellow" %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid foot-info">
  <div class="copyright">
    <p><%= t ".copyright_html" %></p>
  </div>
</div>
